body {
    color: #bfbfbf;
    text-align: center;
    font-family: 'Road Rage', cursive;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/252/303/689/background-dirt-minecraft-minimalistic-wallpaper-preview.jpg");
}

.title {
    font-size: 80px;
    font-weight: 800;
    padding: 0 20px;
}

.button {
    display: flex;
    justify-content: center;
}

p {
    font-size: 30px;
    font-weight: 800;
}


img {
    height: 350px;
}

.start-button {
    width: 500px;
    height: 100px;
    background-color: #8c8c8c;
}

.look {
    display:none;
    background-color: #8c8c8c;
}


.sword, .bow {
    display:none;
    background-color: #8c8c8c;
}
.portal, .dragon, .crystal, .game-over, .win{
    display: none;
}
